@import '~variables.scss';

.Header {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100%;

  background: #FFF;
}

.Header__Container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  margin: 28px auto 25px auto;

  width: 1200px;
  height: $Header-height;
  font-family: 'Roboto', sans-serif;

  transition: all linear .33s;
}

.Header--isScrolled {
  height: $Header-height--scrolled;

  margin-top: 6px;
  margin-bottom: 6px;
}

.Header--item {
  display: flex;
  align-items: center;
  height: 46px;
}

.Header__Logo {
  position: absolute;
  left: 0;
}

.Header__Search {
  position: absolute;
  right: 148px;
}

.Header__RegisterButton {
  position: absolute;
  right: 0px;
}

.Header__Nav {
  position: absolute;
  left: 0; top: 100px;
  width: 100%; height: 16px;

  transition: all linear .33s;
}

.Header--isScrolled {
  .Header__Nav {
    left: 52px; top: 18px;
    width: 1200 - 26 - 26 - 26 - 36 - 20 - 128px;
  }
}