@import "~normalize.css/normalize.css";

.page {
  position: relative;
  width: 100vW;
  height: 100vH;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}