@import '~variables.scss';

.ContentSection {
  margin-top: $Header-height + 30;
  min-Height: 100vH;
  height: 100%;
  z-index: 1;

  transition: margin linear .33s;

  background: #F7F7FA;
}

.ContentSection--isScrolled {
  margin-top: $Header-height--scrolled;
}

.ContentSection__Image {
  display: block;
  width: 100%;
}