.Nav {
  width: 100%;
}

.Nav__List {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  // flex-wrap: wrap;
}

.Nav__Item {
  margin-left: 40px;

  &:first-child {
    margin-left: 0;
  }
}