.NavButton {
  cursor: pointer;
  color: #132F48;
  opacity: .5;

  transition: opacity linear .33s;

  white-space: nowrap;
}

.NavButton:hover,
.NavButton--active {
  opacity: 1;
}

.NavButton--hidden {
  opacity: 0;
}